# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.LuckyRunner.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Projeler\Odevler\luckyrunner\LuckyRunner\.idea\.idea.LuckyRunner\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
